@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,500);

* {
  box-sizing: border-box;
}

html {
  max-width: 100%;
  height: auto;
}

/*body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}

.share__icon {
  width: 32px;
  height: 32px;
  fill: #fff;
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
}

.share__icon:last-of-type {
  margin-right: 0px;
}

.share-button {
  cursor: pointer;
  display: inline-block;
  height: 42px;
  position: absolute;
  top: 5%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  left: 10%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
  z-index: 10;
}

.share-button__back {
  background-color: #368b8b;
  padding: 5px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1) inset;
}

.share-button__front {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center top;
  -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.share-button__text {
  margin: 0;
  line-height: 42px;
  font-size: 16px;
  text-align: center;
  color: #b6b6b6;
}

.share__link {
  position: relative;
  top: 40px;
  display: inline-block;
  opacity: 0;
  -webkit-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.share-button:hover .share-button__front {
  transform: rotateX(90deg);
}

.share-button:hover .share__link {
  top: 0;
  opacity: 1;
}

.share-button:hover .share__link:nth-of-type(1) {
  transition-delay: 0.1s;
}

.share-button:hover .share__link:nth-of-type(2) {
  transition-delay: 0.2s;
}

.share-button:hover .share__link:nth-of-type(3) {
  transition-delay: 0.3s;
}

.share-button:hover .share__link:nth-of-type(4) {
  transition-delay: 0.4s;
}

#wrapper {
  padding-top: 50px;
  margin:
}

#wrapper:after {
  content: '';
  display: block;
  clear: both;
}

nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  background: #ccc;
  text-align: center;
  line-height: 24px;
  box-shadow: 0px 0px 10px #333;
  padding-top: 12px;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0px;
}

nav li a {
  font-size: 1.2em;
  text-decoration: none;
  color: #727272;
  padding: 4px 10px;
  transition: all 0.15s ease-in-out;
  border-bottom: 7px solid #ccc;
}

nav li a.active, nav li a:hover {
  border-bottom: 7px solid #1976D2;
  padding: 4px 10px;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/*@media (min-width: 1281px) {
  section {
    width: 100%;
    height: 100vh;
    float: left;
    background-color: #2196F3;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 3em;
  }

  #home {
    background-image: url("../assets/home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #0ED3F7;
    font-size: 70px;
  }

  section:nth-child(2) {
    background-image: url("../assets/about.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #F7C90E;
  }

  section:nth-child(3) {
    background-image: url("../assets/clients.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #F7270E;
  }

  section:nth-child(4) {
    font-family: monospace;
    background: tomato;
    color: white;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
/*@media (min-width: 1025px) and (max-width: 1280px) {
  section {
    width: 100%;
    height: 100vh;
    float: left;
    background-color: #2196F3;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 3em;
  }

  #home {
    background-image: url("../assets/home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #0ED3F7;
    font-size: 70px;
  }

  section:nth-child(2) {
    background-image: url("../assets/about.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #F7C90E;
  }

  section:nth-child(3) {
    background-image: url("../assets/clients.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #F7270E;
  }

  section:nth-child(4) {
    font-family: monospace;
    background: tomato;
    color: white;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
/*@media (min-width: 768px) and (max-width: 1024px) {
  section {
    width: 100%;
    height: 100vh;
    float: left;
    background-color: #2196F3;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 3em;
  }

  #home {
    background-image: url("../assets/home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #0ED3F7;
    font-size: 70px;
  }

  section:nth-child(2) {
    background-image: url("../assets/about.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #F7C90E;
  }

  section:nth-child(3) {
    background-image: url("../assets/clients.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #F7270E;
  }

  section:nth-child(4) {
    font-family: monospace;
    background: tomato;
    color: white;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
/*@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  section {
    width: 100%;
    height: 100vh;
    float: left;
    background-color: #2196F3;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 3em;
  }

  #home {
    background-image: url("../assets/home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #0ED3F7;
    font-size: 70px;
  }

  section:nth-child(2) {
    background-image: url("../assets/about.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #F7C90E;
  }

  section:nth-child(3) {
    background-image: url("../assets/clients.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #F7270E;
  }

  section:nth-child(4) {
    font-family: monospace;
    background: tomato;
    color: white;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
/*@media (min-width: 481px) and (max-width: 767px) {
  section {
    width: 100%;
    height: 100vh;
    float: left;
    background-color: #2196F3;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 3em;
  }

  #home {
    background-image: url("../assets/home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #0ED3F7;
    font-size: 70px;
  }

  section:nth-child(2) {
    background-image: url("../assets/about.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #F7C90E;
  }

  section:nth-child(3) {
    background-image: url("../assets/clients.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #F7270E;
  }

  section:nth-child(4) {
    font-family: monospace;
    background: tomato;
    color: white;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
/*@media (min-width: 320px) and (max-width: 480px) {
  section {
    width: 100%;
    height: 100vh;
    float: left;
    background-color: #2196F3;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 3em;
  }

  #home {
    background-image: url("../assets/home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #0ED3F7;
    font-size: 70px;
  }

  section:nth-child(2) {
    background-image: url("../assets/about.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #F7C90E;
  }

  section:nth-child(3) {
    background-image: url("../assets/clients.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #F7270E;
  }

  section:nth-child(4) {
    font-family: monospace;
    background: tomato;
    color: white;
  }
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
