@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,500);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  height: 100%;
  min-height: 100%;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

#wrapper {
  padding-top: 50px;
}

#wrapper:after {
  content: '';
  display: block;
  clear: both;
}

section {
  width: 100%;
  height: 100vh;
  float: left;
  background-color: #2196F3;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 3em;
}

section:nth-child(2) {
  background: #B6B6B6;
}

section:nth-child(3) {
  background: #1976D2;
}

section:nth-child(4) {
  background: #607D8B;
}

nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  background: #ccc;
  text-align: center;
  line-height: 24px;
  box-shadow: 0px 0px 10px #333;
  padding-top: 12px;
}

/*nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0px;
}

nav li a {
  font-size: 1.2em;
  text-decoration: none;
  color: #727272;
  padding: 4px 10px;
  transition: all 0.15s ease-in-out;
  border-bottom: 7px solid #ccc;
}

nav li a.active, nav li a:hover {
  border-bottom: 7px solid #1976D2;
  padding: 4px 10px;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
