@import url("https://fonts.googleapis.com/css?family=Lato");

html, body {
  font-family: 'Lato', sans-serif;
}

.table-holder {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

table {
  width: 100%;
  justify-content: center;
  border-spacing: 0;
}

/*table th {
  padding: 0.5em;
  background: #b0c4de;
}

.text-center {
  text-align: center;
}

table tr {
  border-top: 1px solid #888;
  border-bottom: 1px solid;
}
table tr:nth-child(odd) {
  background: #cccfff;
}
table tr:hover {
  animation: 0.3s ease-in-out 1 scaleRow forwards;
}
table tr:first-child th {
  border-top: 1px solid #888;
}
table tr:last-child td {
  border-bottom: 1px solid #888;
}
table tr th:first-child, table tr td:first-child {
  border-left: 1px solid #888;
}
table tr th:last-child, table tr td:last-child {
  border-right: 1px solid #888;
}
table tr td {
  padding: 0.5em;
}
table tr td:hover {
  background: #888;
  color: #fff;
}

@keyframes scaleRow {
  0% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -moz-transform: scale(1.015, 1.015);
    -ms-transform: scale(1.015, 1.015);
    -webkit-transform: scale(1.015, 1.015);
    transform: scale(1.015, 1.015);
  }
}
@media screen and (max-width: 65.5em) {
  .table-holder {
    margin: 0 1.5em;
  }

  table {
    margin: 0;
  }
  table th {
    display: none;
  }
  table tr {
    display: block;
    border-bottom: 1px solid #888;
    margin-bottom: 0.5em;
  }
  table tr:first-child {
    display: none;
  }
  table tr:last-child td {
    border-bottom: 0;
  }
  table tr td {
    display: block;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
  }
  table tr td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
  }
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
